@charset "UTF-8";
/* CSS Document */
ul.horizontal {
	align-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #70191A;
	
}
ul.horizontal li {
	align-content: center;
    float: left;
}
ul.horizontal li a {
	align-content: center;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
}
div.container {
  text-align: center;
}

ul.horizontal {
  display: inline-block;
  text-align: left;
}

/* Change the link color to #111 (black) on hover */
ul.horizontal li a:hover {
	align-content: center;
    background-color: #878787;
}
/* vertical example below */
ul.vertical {
	align-content: center;
    list-style-type: none;
    background-color: #f1f1f1;
}
ul.vertical li a {
	align-content: center;
    display: block;
    color: #000;
    text-decoration: none;
}
/* Change the link color on hover */
ul.vertical li a:hover {
	align-content: center;
    background-color: #555;
    color: white;
color:#420508;
text-decoration: underline;
}


.content-table {
    border-collapse: collapse;
    margin: auto;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15)
}

.content-table thead tr {
    background-color: #BD2729;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
	background-color: #f3f3f3;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
	background-color: #f3f3f3;
}

.content-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
	background-color: #f3f3f3;
}
h1{
text-align: center;
}
body{
background-color:#fcd9d1;
}
h2{
text-align: center
}
p{
background-color: white;
	display: inline block;
	padding: 50px;
	border: 10px #934345;
	margin-top: 10px;
	border-style: inset;
}
.footer-container {
	background-color: brown;
	padding-bottom: 4rem;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.footer {
	width: 40;
	background-color: brown;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding-bottom: 4rem;
	padding: 0;
	margin: 0 auto;
	box-sizing: border-box;
	color: white;
}
.fotter.footer-email-form h2 {
	margin-bottom: 2rem;
}

#footer-email{
	width:250px;
	height:40px;
	border-radius: 4px;
	outline: none;
	border: none;
	padding-left: 0.5rem;
	font-size: 1rem;
	margin-bottom: 1rem;
}
#footer-email-btn{
	width: 100px;
	height: 40px;
	border-radius: 40px;
	background-color: indianred;
	color: white;
}
#fotter-email-btn:hover{
	cursor:pointer;
	background-color: aqua;
	transition: 0.4s ease-out;
}



